In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [3]:
df = pd.read_csv('IRIS.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
label_encoder = LabelEncoder()
df['species_encoded'] = label_encoder.fit_transform(df['species'])

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X,y = df.drop(['species_encoded','species'],axis=1),df['species_encoded']

In [8]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [9]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: species_encoded, dtype: int64

In [10]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=44)

In [ ]:
logistic_regression = LogisticRegression()
logistic_regression.fit(x_train,y_train)
logistic_regression.score(x_train,y_train)

0.9666666666666667

In [ ]:
logistic_regression.score(x_test,y_test)

0.9666666666666667

In [ ]:
pred = logistic_regression.predict(x_test)

In [14]:
from sklearn.metrics import accuracy_score

In [15]:
accuracy_score(pred,y_test)

0.9666666666666667

In [16]:
x_test.head(5)

     sepal_length  sepal_width  petal_length  petal_width
144           6.7          3.3           5.7          2.5
9             4.9          3.1           1.5          0.1
79            5.7          2.6           3.5          1.0
95            5.7          3.0           4.2          1.2
104           6.5          3.0           5.8          2.2

In [ ]:
result = logistic_regression.predict([[9,1.0,7.8,1.2]])
label_encoder.inverse_transform(result)

c:\Users\LENOVO\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['Iris-virginica'], dtype=object)